
$color-text:#fcfcfc;
$color-light:#e8e8e8;
$color-mid:#919191;
$color-dark:#555555;
$color-flat:#2b2b2b;
$color-blood:#620000;

$body-font:'Poppins', sans-serif;
$heading-font:'Roboto Slab', serif;
$subheading-font:'Roboto', sans-serif;









body {
    background-color:$color-dark;
    color: #2b2b2b;
    font-family:$body-font;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
  }
  
  .bg {
    background-color:$color-mid;
  }
  
  h1,
  h2 {
    font-family: $heading-font;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
  
  }
  
  h3,
  h4,
  h5,
  h6 {
    font-family:$subheading-font;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
  }
  
  .box {
    box-shadow: 3px 3px 5px $color-flat;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
  .bottom {
    border-bottom: 1px solid $color-blood;
  }
  
  /***navar css***/
  
  .navbar {
    background-image: url("../img/tactile_noise.png");
    background-repeat: repeat;
    font-family:$subheading-font;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    
  }
  
  .heading {
    background-image: url("../img/tactile_noise.png");
    background-repeat: repeat;
    color: white;
  }
  
  .logo {
    width: 60%;
  }
  
  /***footer css***/
  
  footer {
    background-image: url("../img/tactile_noise.png");
    background-repeat: repeat;
    color: white;
    font-size: 1.0em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
  }
  
  footer h4,
  h5 {
    font-family:$subheading-font
  }
  
  .fa {
    color:$color-mid;
    font-size: 1.5em;
  }
  
  .social {
    font-size: 1.5em;
  }
  
  /***header carousel***/
  
  carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
    transition-duration: 2.0s;
  }
  
  .btn {
    background-color:$color-dark;
    color:$color-text;
  }
  
  .skull {
    height: 30px;
  }
  
  .padding {
    padding-top: 100px;
  }
  
  #myCarousel .list-inline {
    white-space: nowrap;
    overflow-x: auto;
  }
  
  #myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
  }
  
  #myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
  }
  
  #myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
  }
  