@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Marcellus&family=Roboto::wght@300;550&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Andika+New+Basic:wght@400;700&display=swap');



/**global styles**/

html {
	scroll-behavior: smooth;

}



h1 {
	color: black;
	font-family: 'IM Fell Double Pica', serif;
	
}

h2 {
	color:#eee;
	font-family: 'Marcellus', serif;
	letter-spacing: 2px;
	font-size: 2.25rem;
	font-weight: normal;
}

hr {
	border-top: 2px solid darkred
}

a {
	color: whitesmoke !important;
}

a:hover {
	text-decoration: none;
}

p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight:300;
	padding: 12px;
	text-rendering: optimizeLegibility !important;
}

section {
	padding: 60px 0;
}



/**nav**/

.navbar-brand {
	position: absolute;
	width: 100%;
	max-width: 200px;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 650ms;
	padding-top: 20px;
}

.nav-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	list-style: none;
	background-color: #101d2c;
	z-index: 900;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transform: scale(0);
	transition: opacity 650ms;
}

.nav-list.open {
	opacity: 1;
	transform: scale(1);
}

.hamburger-menu {
	position: fixed;
	top: 25px;
	right: 15px;
	width: 50px;
	height: 50px;
	display: flex;
	background-color: black;
	border-radius: 50%;
	cursor: pointer;
	z-index: 999;
}

.hamburger-menu i {
	font-size: 30px;
	color: darkred;
	margin: auto;
}

.hamburger-menu .fa-times {
	display: none;
}

.hamburger-menu .fa-times.open {
	display: block;
}

.hamburger-menu .fa-bars.open {
	display: none;
}

.container-fluid {
	padding: 0 5%;
}


/**header**/
header {
	width: 100%;
	height: 100vh;
	top: 0;
	background:radial-gradient( rgba(16, 29, 44, .40), rgba(16, 29, 44, .60)),
		url(../img/caddy.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

header > .container {
	position: relative;
	height: 100%;
	padding: 0;
}

.hero-text {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
	text-align: center;
}

.hero-text h1 {
	font-family: 'IM Fell Double Pica', serif;
	color: whitesmoke;
}



.hero-text h2 {
	text-transform: uppercase;
	font-family: 'Marcellus', serif;
	color: whitesmoke;
	font-size: 20px;
	letter-spacing: 2px;
}

.btn {
	font-weight:lighter;
	
	color:darkred !important;
  padding: 5px 5px!important;
  border: none;
	border-radius:10px;
  position: relative;
  overflow: hidden;
	transform: translateY(150%);
	animation: down 1.8s infinite;
}


/** about **/
.about {
	background-color:#888;
	
}
.text{
	line-height: 1.5rem;
}



/** story **/
.story {
/**background-color:#777;**/
	
  background: radial-gradient( circle, transparent 50%, black 150%),#777;
	
}
.image-center {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}


.text{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:1.25rem;
}


/***gallery***/

#gallery01 {
background-color:#888;
}

#gallery02 {
	/**background-color: #808080;**/
	background-color:#777;
}

.gallery {
	width: 100%;
	height: auto;
}

h4 {
	font-family: 'Andika New Basic', sans-serif;
	font-weight:400;
	color:white;
	
}



/** slide **/
.container-2 {
    margin-top:50px;
    margin-bottom:50px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
}

#custCarousel .carousel-indicators>li {
    width:400px;
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#custCarousel  .carousel-indicators li.active img {
    opacity: 1;
}

/** gallery02 **/

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}
#custCarousel-1 .carousel-indicators {
    position: static;
    margin-top: 20px;
}

#custCarousel-1 .carousel-indicators>li {
    width:400px;
}

#custCarousel-1 .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#custCarousel-1  .carousel-indicators li.active img {
    opacity: 1;
}

#custCarousel-1 .carousel-indicators li:hover img {
    opacity: 0.75;
}


.carousel-item img {
    width:80%
}
/** contact **/
#contact {
	background-color: darkred;
	padding: 10px;
}

.contact-info i {
	color: black;
	font-size: 50px;

}

#contact h1 {
	font-family: 'Andika New Basic', sans-serif;
	font-weight:400;
	color: white;
	font-size:1.24rem;
	letter-spacing:1px;
	text-transform: uppercase;
	
}

.contact-info p,
.contact-info address {
	font-family: 'Andika New Basic', sans-serif;
	font-weight:400;
	color: rgba(255, 255, 255, .5);
}

.contact hr {
	border-top: 1px solid rgba(255, 255, 255, .2);

}

/**footer**/
.footer {
	background-color: darkred;

}

.footer p {
	font-size: 15px;
	color: rgba(255, 255, 255, .5);
}

.social:hover {
	opacity: .5;
	transition-duration: .6s;

}

/** up button **/

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: transparent;
	color:firebrick;
	cursor: pointer;
	padding: 2px;
	border-radius: 100%;


}

#myBtn:hover {
	color: indianred;

}

/**break points**/

@media (min-width:576px) {
	.hamburger-menu {
		top: 25px;
		right: 25px;
	}
}

@media (min-width:768px) {

	.hero-text h1 {
		font-size: 100px;
	}
}

.menu-item-desc {
	padding: 50px 20px;
}

.about {
	padding: 10px;
}

.about img {
	padding-top: 10px;
}


.mobile {
	padding-top: 20px;
}

.phone {
	font-size: 45px;
}
.img-sm{
	margin-bottom:20px;
}

@media (min-width:992px) {
	.header > container {
		padding: 0 15px;
	}

	.hero-text h1 {
		font-size: 100px;
	}

	.hero-text h2 {
		font-size: 30px;
	}

	.hamburger-menu {
		display: none;
	}

	.navbar-brand {

		width: 100%;
		max-width: 300px;
		padding-top: 10px;
	}

	.navbar-brand {
		position: initial;
		transform: initial;
	}

	.nav-list {
		position: initial;
		width: initial;
		height: initial;
		background-color: initial;
		flex-direction: row;
		opacity: initial;
		transform: initial;
		transition: initial;
		padding: 0;
		margin: 0;
	}

	.nav-item {
		margin: 0 20px;
	}

	.nav-item:last-child {
		margin-right: 0;
	}

	.nav-link {
		position: relative;
		padding: 0;
		font-size: 20;
		text-transform: uppercase;
		font-family: 'Marcellus', serif;
		letter-spacing: 2px;
	}

	.nav-link::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -3px;
		background-color: rgb(230, 32, 32);
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 650ms;
	}

	.nav-link:hover::before {
		transform: scaleX(1);
	}

	.mobile {
		padding-top: 0px;
	}

}



@media(min-width: 1200px) {}

@keyframes down {
    0% {
      opacity: 0;
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(-1rem);
      }
    }
